.add-field__heading {
  position: relative;
  .heading__formmb();

  margin: 28px 0 0 0;
  padding: 0 0 0 19px;

  &::after {
    position: absolute;
    top: 14px;
    right: 0;
    content: "";
    width: 136px;
    height: 3px;
    background-color: @color-divider-gr;
  }
}

@media (min-width: @tablet-width) {
  .add-field__heading {
    .heading-lowt();
    margin: 65px 0 0 0;
    padding: 0 0 0 68px;

    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      width: 30px;
      height: 3px;
      background-color: @color-divider-gr;
    }

    &::after {
      position: absolute;
      top: 22px;
      right: 0;
      content: "";
      width: 446px;
      height: 3px;
      background-color: @color-divider-gr;
    }
  }
}

@media (min-width: @desktop-width) {
  .add-field__heading {
    margin: 66px 0 0 0;
    padding: 0 0 0 109px;

    &::before {
      position: absolute;
      top: 23px;
      left: 0;
      content: "";
      width: 70px;
      height: 3px;
      background-color: @color-divider-gr;
    }

    &::after {
      position: absolute;
      top: 23px;
      right: 0;
      content: "";
      width: 1078px;
      height: 3px;
      background-color: @color-divider-gr;
    }
  }
}
