.additional__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 30px 76px 30px;
}

.additional__heading {
  position: relative;

  font-size: 24px;
  line-height: 24px;
  color: @color-font-sec;

  margin: 27px 0 34px 19px;
  padding: 0;

  &::after {
    position: absolute;
    top: 14px;
    right: 0;
    content: "";
    width: 53px;
    height: 3px;
    background-color: @color-divider-gr;
  }
}

@media (min-width: @tablet-width) {
  .additional__heading {
    .heading-lowt();
    text-transform: none;
    margin: 41px 0 34px 0;
    padding: 0 0 0 66px;

    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      width: 28px;
      height: 3px;
      background-color: @color-divider-gr;
    }

    &::after {
      position: absolute;
      top: 22px;
      right: 0;
      content: "";
      width: 327px;
      height: 3px;
      background-color: @color-divider-gr;
    }
  }
}

@media (min-width: @desktop-width) {
  .additional__heading {
    margin: 4px 0 0 0;
    padding: 0 0 0 109px;

    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      width: 70px;
      height: 3px;
      background-color: @color-divider-gr;
    }

    &::after {
      position: absolute;
      top: 22px;
      right: 0;
      content: "";
      width: 957px;
      height: 3px;
      background-color: @color-divider-gr;
    }
  }

  .additional__wrapper {
    flex-direction: row;
    justify-content: space-between;

    margin: 50px 110px 62px 110px;
  }
}
