.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  text-transform: uppercase;

  background-color: @color-butt;

  color: @color-font-thr;
}

.button:hover,
.button:focus {
  background-color: @color-butt-hov;
}

.button:active {
  color: @color-font-button-act;
}

.button--index-button {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  .button-mob();
}

.button--catalog-button {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  .button-mob();
}

.button--form-button {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  .button-mob();
}

.button--goods-button {
  font-family: "Oswald-Regular", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;

  .button-mob();
}

.button--spec {
  .button-mob();

  .heading-catlm();

  background-color: @color-butt-sec;
}

.button--spec:hover,
.button--spec:focus {
  background-color: @color-butt-sec-hov;
}

.button--spec:active {
  color: @color-font-button-spec;
}

@media (min-width: @tablet-width) {
  .button--index-button {
    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;

    width: 245px;
    height: 52px;
  }

  .button--catalog-button {
    .button-tab();
  }

  .button--spec {
    .button-tab();
  }

  .button--goods-button {
    width: 633px;
  }

  .button--form-button {
    font-family: "Oswald-Regular", "Arial", sans-serif;
    font-size: 20px;
    line-height: 20px;

    width: 283px;
    height: 52px;
  }
}

@media (min-width: @desktop-width) {
  .button--catalog-button {
    .button-desc();
  }

  .button--spec {
    .button-desc();
  }

  .button--goods-button {
    width: 245px;
  }

  .button--form-button {
    width: 568px;
  }
}
