.comment-field {
  padding: 14px 0 0 20px;
}

.comment-field__heading {
  position: relative;

  .heading__formmb();

  margin: 0;
  padding: 0;

  &::after {
    position: absolute;
    top: 13px;
    right: 0;
    content: "";
    width: 158px;
    height: 3px;
    background-color: @color-divider-gr;
  }
}

@media (min-width: @tablet-width) {
  .comment-field {
    padding: 44px 0 0 0;
  }

  .comment-field__heading {
    .heading-lowt();

    padding: 0 0 0 69px;

    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      width: 30px;
      height: 3px;
      background-color: @color-divider-gr;
    }

    &::after {
      position: absolute;
      top: 22px;
      right: 0;
      content: "";
      width: 479px;
      height: 3px;
      background-color: @color-divider-gr;
    }
  }
}

@media (min-width: @desktop-width) {
  .comment-field {
    padding: 47px 0 0 0;
  }

  .comment-field__heading {
    padding: 0 0 0 109px;

    &::before {
      position: absolute;
      top: 22px;
      left: 0;
      content: "";
      width: 70px;
      height: 3px;
      background-color: @color-divider-gr;
    }

    &::after {
      position: absolute;
      top: 22px;
      right: 0;
      content: "";
      width: 1111px;
      height: 3px;
      background-color: @color-divider-gr;
    }
  }
}
