.contacts {
  background-color: @color-block;
}

.contacs--index {
  background-color: @color-bg-main;
}

.contacts__text {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: @color-font-sec;
}

.contacts__point {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-style: normal;
}
