.copyright-link {
  display: flex;
  flex-direction: row;
}

.copyright-link:hover path,
.copyright-link:focus path {
  fill: @color-elem-hov;
}

.copyright-link:active path {
  fill: @color-elem-hov;
}

.copyright-link:active {
  opacity: 0.3;
}
