.example {
  background-color: @color-block;
}

.example__heading {
  .heading-bigm();
}

.example__text {
  .text-main();
}

.example__cost {
  font-family: "Oswald-Regular", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: @color-font-sec;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .example__heading {
    .heading-bigt();
  }

  .example__text {
    .text-maint();
  }

  .example__cost {
    font-size: 20px;
    line-height: 20px;
  }

  .example__image {
    width: 690px;
    height: 517px;
  }
}

@media (min-width: @desktop-width) {
  .example__image {
    width: 690px;
    height: 517px;
  }
}
