.form-logo__heading {
  .heading-bigm();
}

.form-logo__text {
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

@media (min-width: @tablet-width) {
  .form-logo__heading {
    .heading-bigt();
  }

  .form-logo__text {
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
  }
}
