.goods-list {
  .list-reset();
}

.goods-list__item {
  position: relative;
  padding-bottom: 20px;

  &:last-of-type::after {
    position: absolute;
    bottom: 0;
    left: 20px;
    content: "";
    width: 280px;
    height: 1px;
    background-color: @color-footer-divider;
  }
}

.goods-list__item::before {
  position: absolute;
  top: 0;
  left: 20px;
  content: "";
  width: 280px;
  height: 1px;
  background-color: @color-footer-divider;
}

.goods-list__heading {
  font-size: 16px;
  line-height: 16px;
  color: @color-font-fth;
  text-transform: uppercase;
}

.goods-list__text {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .goods-list__item {
    border: 1px solid @color-border;

    &::before {
      display: none;
    }

    &:last-of-type::after {
      display: none;
    }
  }

  .goods-list__heading {
    font-size: 20px;
    line-height: 20px;
  }

  .goods-list__text {
    font-size: 16px;
    line-height: 20px;
  }
}

@media (min-width: @desktop-width) {
  .goods-list__item {
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-top: 1px solid @color-border;
  }
}
