.goods-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.goods-list__heading {
  font-size: 16px;
  line-height: 16px;
  color: @color-font-fth;
}

.goods-list__text {
  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 14px;
}
