.input-field {
  box-sizing: border-box;

  .placeholder();

  .input-state();
}

.input-field--name-input {
  width: 229px;
}

.input-field--weight-input {
  width: 204px;
}

.input-field--age-input {
  width: 172px;
}

.input-field--email-field {
  width: 219px;
}

.input-field--tel-field {
  width: 204px;
}

@media (min-width: @tablet-width) {
  .input-field {
    .placeholdert();
  }

  .input-field--name-input {
    width: 567px;
  }

  .input-field--weight-input {
    width: 536px;
  }

  .input-field--age-input {
    width: 497px;
  }

  .input-field--email-field {
    width: 551px;
  }

  .input-field--tel-field {
    width: 535px;
  }
}

@media (min-width: @desktop-width) {
  .input-field--name-input {
    width: 506px;
  }

  .input-field--weight-input {
    width: 475px;
  }

  .input-field--age-input {
    width: 436px;
  }

  .input-field--email-field {
    width: 486px;
  }

  .input-field--tel-field {
    width: 472px;
  }
}
