.list-of-desc {
  list-style: none;

  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-font-main;
}

.list-of-desc__item {
  position: relative;
  margin-bottom: 30px;
}

.list-of-desc__item::before {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 60px;
  height: 60px;
  background-color: @color-bg-lo;
}
