.list-of-desc {
  list-style: none;

  font-family: "ArialMT", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: @color-font-main;

  padding: 4px 0 0 0;
  margin: 0;
}

.list-of-desc__item {
  position: relative;
  padding: 6px 0 0 100px;
  margin: 20px 0 0 0;
}


.list-of-desc__text::after {
  position: absolute;
  top: 4px;
  left: 20px;
  content: "";
  width: 60px;
  height: 60px;
  background-color: @color-bg-lo;
}

.list-of-desc__icon-healthy::before {
  position: absolute;
  top: 9px;
  left: 25px;
  content: url("../img/advantage-leaf@1x.png");
  width: 26px;
  height: 29px;
  z-index: 2;
}

.list-of-desc__icon-powder::before {
  position: absolute;
  top: 8px;
  left: 25px;
  content: url("../img/advantage-powder@1x.png");
  width: 29px;
  height: 31px;
  z-index: 2;
}

.list-of-desc__icon-ration::before {
  position: absolute;
  top: 9px;
  left: 24px;
  content: url("../img/advantage-dining@1x.png");
  width: 23px;
  height: 30px;
  z-index: 2;
}

.list-of-desc__icon-period::before {
  position: absolute;
  top: 9px;
  left: 25px;
  content: url("../img/advantage-clock@1x.png");
  width: 26px;
  height: 31px;
  z-index: 2;
}

.list-of-desc__text {
  width: 194px;
  padding: 0;
  margin: 0;
}

@media (min-resolution: @retina-dpi) {
  .list-of-desc__icon-healthy::before {
    top: 19px;
    left: 37px;
    content: "";
    background: url("../img/advantage-leaf@2x.png") center no-repeat;
    background-size: 50px 50px;
  }

  .list-of-desc__icon-powder::before {
    top: 18px;
    left: 36px;
    content: "";
    background: url("../img/advantage-powder@2x.png") center no-repeat;
    background-size: 50px 50px;
  }

  .list-of-desc__icon-ration::before {
    top: 19px;
    left: 38px;
    content: "";
    background: url("../img/advantage-dining@2x.png") center no-repeat;
    background-size: 50px 50px;
  }

  .list-of-desc__icon-period::before {
    top: 19px;
    left: 37px;
    content: "";
    background: url("../img/advantage-clock@2x.png") center no-repeat;
    background-size: 50px 50px;
  }
}

@media (min-width: @tablet-width) {
  .list-of-desc {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
  }

  .list-of-desc__item {
    .text-maint();
    margin: 0 31px 61px 0;
    padding: 0 0 0 30px;
    min-width: 322px;
  }

  .list-of-desc__text {
    position: relative;
    padding: 184px 0 0 0;
  }

  .list-of-desc__text--healthy {
    width: 203px;
  }

  .list-of-desc__text--powder {
    width: 222px;
  }

  .list-of-desc__text--ration {
    width: 205px;
  }

  .list-of-desc__text--period {
    width: 246px;
  }

  .list-of-desc__text::after {
    position: absolute;
    content: "";
    top: 72px;
    left: 0;
    width: 80px;
    height: 80px;
    background-color: @color-bg-lo;
  }

  .list-of-desc__icon-healthy::before {
    top: 87px;
    left: 45px;
  }

  .list-of-desc__icon-powder::before {
    top: 87px;
    left: 46px;
  }

  .list-of-desc__icon-ration::before {
    top: 87px;
    left: 45px;
  }

  .list-of-desc__icon-period::before {
    top: 87px;
    left: 46px;
  }

  .list-of-desc__block-first::after {
    position: absolute;
    top: 33px;
    left: 148px;
    content: "1";
    .font-number();
    z-index: -1;
  }

  .list-of-desc__block-second::after {
    position: absolute;
    top: 33px;
    left: 142px;
    content: "2";
    .font-number();
    z-index: -1;
  }

  .list-of-desc__block-third::after {
    position: absolute;
    top: 33px;
    left: 143px;
    content: "3";
    .font-number();
    z-index: -1;
  }

  .list-of-desc__block-fourth::after {
    position: absolute;
    top: 33px;
    left: 144px;
    content: "4";
    .font-number();
    z-index: -1;
  }

  @media (min-resolution: @retina-dpi) {
    .list-of-desc__icon-healthy::before {
      top: 98px;
      left: 57px;
    }

    .list-of-desc__icon-powder::before {
      top: 97px;
      left: 56px;
    }

    .list-of-desc__icon-ration::before {
      top: 98px;
      left: 59px;
    }

    .list-of-desc__icon-period::before {
      top: 97px;
      left: 58px;
    }
  }
}

@media (min-width: @desktop-width) {
  .list-of-desc {
    padding: 0 0 0 110px;
  }

  .list-of-desc__item {
    padding: 0;
    min-width: 294px;
  }

  .list-of-desc__text::after {
    top: 73px;
  }

  .list-of-desc__icon-healthy::before {
    top: 88px;
    left: 15px;
  }

  .list-of-desc__icon-powder::before {
    top: 88px;
    left: 15px;
  }

  .list-of-desc__icon-ration::before {
    top: 88px;
    left: 15px;
  }

  .list-of-desc__icon-period::before {
    top: 88px;
    left: 15px;
  }

  .list-of-desc__block-first::after {
    left: 119px;
  }

  .list-of-desc__block-second::after {
    left: 112px;
  }

  .list-of-desc__block-third::after {
    left: 114px;
  }

  .list-of-desc__block-fourth::after {
    left: 114px;
  }

  @media (min-resolution: @retina-dpi) {
    .list-of-desc__icon-healthy::before {
      top: 99px;
      left: 27px;
    }

    .list-of-desc__icon-powder::before {
      top: 98px;
      left: 26px;
    }

    .list-of-desc__icon-ration::before {
      top: 98px;
      left: 29px;
    }

    .list-of-desc__icon-period::before {
      top: 98px;
      left: 27px;
    }
  }
}
